extends layout 

block content
  h1.w3-center 
    b Title : #{musica.tit}
  p.w3-light-green 
    b Province : 
        p= musica.prov
  p.w3-light-green 
    b Location : 
        p= musica.local
  p.w3-light-green 
    b Musician : 
        p= musica.musico
  p.w3-light-green 
    b Duration : 
        p= musica.duracao
  p.w3-center 
    a(href="/") Back