extends layout
block content 
 h4.w3-container.w3-pale-green
    if (sucesso)
        div(class="w3-panel w3-green")
            span(class="closebtn" onclick="this.parentElement.style.display='none';") &times;
            strong Update realizado com sucesso
    b.w3-text-black Informação do Recurso selecionado
        table.w3-table-all
            tr
                th.w3-center Data de Criação
                th.w3-center Data de Submissão
                th.w3-center Produtor
                th.w3-center Autor da Submissão
                th.w3-center Título
                th.w3-center Tipo
            tr
                td.w3-center= recurso.date_creation
                td.w3-center= recurso.date_submission
                td.w3-center= recurso.producer
                td.w3-center= recurso.owner_submission
                td.w3-center= recurso.title 
                td.w3-center= recurso.type

    h2.w3-container.w3-pale-green
        b.w3-text-black Submeta o novo tipo para o recurso selecionado: 
    if recurso.type == 'Tese'
        .w3-container.w3-pale-green
            form.w3-container(action='/editar/completo?filename=' + recurso.filename + "&tipo=" + recurso.type , method='POST')
                input(type='radio' name='tipo' value='Ficha')
                |  Ficha
                br
                input(type='radio' name='tipo' value='Exame')
                |  Exame
                br
                input(type='radio' name='tipo' value='Slide')
                |  Slides
                br
                input.w3-btn.w3-margin-top.w3-margin-bottom.w3-hover-black.w3-round-xxlarge(type='submit' value='Enviar')

    if recurso.type == 'Ficha'
        .w3-container.w3-pale-green
            form.w3-container(action='/editar/completo?filename=' + recurso.filename + "&tipo=" + recurso.type , method='POST')
                input(type='radio' name='tipo' value='Tese')
                |  Tese
                br
                input(type='radio' name='tipo' value='Exame')
                |  Exame
                br
                input(type='radio' name='tipo' value='Slide')
                |  Slides
                br
                input.w3-btn.w3-margin-top.w3-margin-bottom.w3-hover-black.w3-round-xxlarge(type='submit' value='Enviar')

    if recurso.type == 'Exame'
        .w3-container.w3-pale-green
            form.w3-container(action='/editar/completo?filename=' + recurso.filename + "&tipo=" + recurso.type , method='POST')
                input(type='radio' name='tipo' value='Ficha')
                |  Ficha
                br
                input(type='radio' name='tipo' value='Tese')
                |  Tese
                br
                input(type='radio' name='tipo' value='Slide')
                |  Slides
                br
                input.w3-btn.w3-margin-top.w3-margin-bottom.w3-hover-black.w3-round-xxlarge(type='submit' value='Enviar')

    if recurso.type == 'Slide'
        .w3-container.w3-pale-green
            form.w3-container(action='/editar/completo?filename=' + recurso.filename + "&tipo=" + recurso.type , method='POST')
                input(type='radio' name='tipo' value='Ficha')
                |  Ficha
                br
                input(type='radio' name='tipo' value='Exame')
                |  Exame
                br
                input(type='radio' name='tipo' value='Tese')
                |  Tese
                br
                input.w3-btn.w3-margin-top.w3-margin-bottom.w3-hover-black.w3-round-xxlarge(type='submit' value='Enviar')

    div.w3-pale-green.w3-padding-16(style='position: fixed; left: 0; bottom: 0; width: 100%; text-align: center;')
        b 
            a(href='/feed') Voltar à página principal