extends layout
block content 
    unless empty    
        h2.w3-container.w3-pale-green.w3-center
            b  Lista de #{tipo}s 
        .w3-card-4.modal(id="display")
        table.w3-table-all
            tr
                th.w3-center Data de Criação
                th.w3-center Data de Submissão
                th.w3-center Produtor
                th.w3-center Autor da Submissão
                th.w3-center Título
                th.w3-center Download
                th.w3-center Comentários
                th.w3-center Preview
            if level == "producer"
                each f in files
                    tr
                        td.w3-center= f.date_creation
                        td.w3-center= f.date_submission
                        td.w3-center= f.producer
                        td.w3-center= f.owner_submission
                        td.w3-center= f.title
                        td.w3-center
                            a(href="/download/"+f.filename download target="_blank")
                                button.w3-button.w3-circle.w3-round-large.w3-yellow(class="fas fa-file-download")
                        td.w3-center
                            a(href="/comments/"+f.filename)
                                button.w3-button.w3-circle.w3-round-large.w3-yellow(class="fas fa-plus" type='submit' value='Comment')
                        
                        td.w3-center
                                button.w3-button.w3-circle.w3-round-large.w3-yellow(class="fas fa-eye" type='submit' value='Comment'
                                id='f_' + f._id, class="ficheiro", onclick="showFicheiro(" + JSON.stringify(f) + ")") 
                       
                        if username == f.owner_submission
                            th
                                form(action="/delete/"+f.filename method='POST')
                                    button.w3-button.w3-right.w3-circle.w3-round-large.w3-red(class="fas fa-trash-alt" type='submit' value='Delete')
                            th
                                form(action="/editar/"+f.filename method='POST')
                                    button.w3-button.w3-right.w3-circle.w3-round-large.w3-green(class="fas fa-pencil-alt" type='submit' value='Edit')
                        if f.liked_by.includes(username)
                            th
                                a(href="/removeLike/" + f.filename + "?tipo=" + f.type)
                                    button.w3-button.w3-circle.w3-round-large.w3-hover-black(class="fa fa-thumbs-up" type='button' id="dislike")
                                span.w3-margin(id='f_' + f._id, class="ficheiro", onclick="showLikes(" + JSON.stringify(f) + ")")= f.liked_by.length 
                        else 
                            th
                                a(href="/addLike/" + f.filename + "?tipo=" + f.type)
                                    button.w3-button.w3-circle.w3-round-large.w3-blue(class="fa fa-thumbs-up" type='button' id="like")
                                span.w3-margin(id='f_' + f._id, class="ficheiro", onclick="showLikes(" + JSON.stringify(f) + ")")= f.liked_by.length

            if level == "consumer"
                each f in files
                    tr
                        td.w3-center= f.date_creation
                        td.w3-center= f.date_submission
                        td.w3-center= f.producer
                        td.w3-center= f.owner_submission
                        td.w3-center= f.title
                        td.w3-center
                                a(href="/download/"+f.filename download target="_blank")
                                    button.w3-button.w3-circle.w3-round-large.w3-yellow(class="fas fa-file-download") 
                        td.w3-center
                            a(href="/comments/"+f.filename)
                                button.w3-button.w3-circle.w3-round-large.w3-yellow(class="fas fa-plus" type='submit' value='Comment') 
                        
                        td.w3-center
                                button.w3-button.w3-circle.w3-round-large.w3-yellow(class="fas fa-eye" type='submit' value='Comment'
                                id='f_' + f._id, class="ficheiro", onclick="showFicheiro(" + JSON.stringify(f) + ")") 
                        
                        if f.liked_by.includes(username)
                            th
                                a(href="/removeLike/" + f.filename + "?tipo=" + f.type)
                                    button.w3-button.w3-circle.w3-round-large.w3-hover-black(class="fa fa-thumbs-up" type='button' id="dislike")
                                span.w3-margin(id='f_' + f._id, class="ficheiro", onclick="showLikes(" + JSON.stringify(f) + ")")= f.liked_by.length 
                        else 
                            th
                                a(href="/addLike/" + f.filename + "?tipo=" + f.type)
                                    button.w3-button.w3-circle.w3-round-large.w3-blue(class="fa fa-thumbs-up" type='button' id="like")
                                span.w3-margin(id='f_' + f._id, class="ficheiro", onclick="showLikes(" + JSON.stringify(f) + ")")= f.liked_by.length
            
            if level == "admin"
                each f in files
                    tr
                        td.w3-center= f.date_creation
                        td.w3-center= f.date_submission
                        td.w3-center= f.producer
                        td.w3-center= f.owner_submission
                        td.w3-center= f.title
                        td.w3-center
                                a(href="/download/"+f.filename download target="_blank")
                                    button.w3-button.w3-circle.w3-round-large.w3-yellow(class="fas fa-file-download")
                        td.w3-center
                            a(href="/comments/"+f.filename)
                                button.w3-button.w3-circle.w3-round-large.w3-yellow(class="fas fa-plus" type='submit' value='Comment')

                        td.w3-center
                                button.w3-button.w3-circle.w3-round-large.w3-yellow(class="fas fa-eye" type='submit' value='Comment'
                                id='f_' + f._id, class="ficheiro", onclick="showFicheiro(" + JSON.stringify(f) + ")") 

                        th
                            form(action="/delete/"+f.filename method='POST')
                                button.w3-button.w3-right.w3-circle.w3-round-large.w3-red(class="fas fa-trash-alt" type='submit' value='Delete')
                        th
                            form(action="/editar/"+f.filename method='POST')
                                button.w3-button.w3-right.w3-circle.w3-round-large.w3-green(class="fas fa-pencil-alt" type='submit' value='Edit')
                        if f.liked_by.includes(username)
                            th
                                a(href="/removeLike/" + f.filename + "?tipo=" + f.type)
                                    button.w3-button.w3-circle.w3-round-large.w3-hover-black(class="fa fa-thumbs-up" type='button' id="dislike")
                                span.w3-margin(id='f_' + f._id, class="ficheiro", onclick="showLikes(" + JSON.stringify(f) + ")")= f.liked_by.length 
                        else 
                            th
                                a(href="/addLike/" + f.filename + "?tipo=" + f.type)
                                    button.w3-button.w3-circle.w3-round-large.w3-blue(class="fa fa-thumbs-up" type='button' id="like")
                                span.w3-margin(id='f_' + f._id, class="ficheiro", onclick="showLikes(" + JSON.stringify(f) + ")")= f.liked_by.length

    else
        h2.w3-container.w3-pale-green.w3-center
            b Não existem #{tipo}s
    
    div.w3-pale-green.w3-padding-16(style='position: fixed; left: 0; bottom: 0; width: 100%; text-align: center;')
        b 
            a(href='/feed') Voltar à página principal